<link href="https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
<script type="text/javascript">
  window.splashVidURL = "<%= video_url('COTE_VIDEO_4.mp4') %>";
  window.logoURL = "<%= image_url('logo.png') %>";
  window.saveRibbonWhiteOutlineURL = "<%= image_url('save-white-outline.svg') %>";
  window.savedFillRibbonWhiteURL = "<%= image_url('save-white.svg') %>";
  window.saveRibbonGrayOutlineURL = "<%= image_url('icon-bookmark-hover-outline.svg') %>";
  window.saveGreyURL = "<%= image_url('save-grey.svg') %>"; 
  window.faviconURL = "<%= image_url('favicon.ico') %>"; 
  window.printIconURL = "<%= image_url('rdp-print.svg') %>";
  window.uncookedIconURL = "<%= image_url('cooked-hover-fill-outline.svg') %>";
  window.nutrInfoIconOutline = "<%= image_url('nutritional-info-hollow.svg') %>";
  window.nutrInfoIconFill = "<%= image_url('nutritional-info-red.svg') %>";
  window.linkedinLogoURL = "<%= image_url('linkedin-logo.svg') %>";
  window.githubLogoURL = "<%= image_url('github-logo.png') %>";
  window.starRedURL = "<%= image_url('star-rating-filled-red.png') %>";
  window.starYellowURL = "<%= image_url('star-yellow.svg') %>";
  window.starEmptyURL = "<%= image_url('star-empty.svg') %>";
  window.pdfIconURL = "<%= image_url('pdf-xxl.png') %>";
</script>

<% if logged_in? %>
<script type="text/javascript">
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
</script>
<% end %>

<main id="root">REACT IS BROKEN</main>