<!DOCTYPE html>
<html>
  <head>
    <title>HanCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href={favicon.ico}>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
